@import "../utils/variables";

.contact {
  position: relative;
  height: calc(100vh - #{$footer-height});
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white-beige;
  font-family: $font-family;
  overflow: hidden;

  &__content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 2rem;
    color: $black;
    max-width: 700px;
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 700;
    color: $color-primary;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 1.2rem;
    color: $color-text-body;
    margin-bottom: 3rem;
    line-height: 1.6;
  }

  &__email-text {
    font-size: 1.2rem;
    color: $color-primary;
    font-weight: 600;
    background-color: rgba($color-primary-light, 0.1);
    padding: 0.2rem 0.4rem;
    border-radius: $radius;
    cursor: pointer;
    transition: background-color $transition, transform $transition;

    &:hover {
      background-color: rgba($color-accent, 0.2);
      transform: translateY(-2px);
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background-color: $white;
    border-radius: $radius;
    padding: 1rem 1.8rem;
    box-shadow: $shadow;
    font-weight: 600;
    color: $color-text-main;
    text-decoration: none;
    transition: transform $transition, background-color $transition, color $transition;
    backdrop-filter: blur(4px);

    svg {
      transition: transform $transition;
      color: $color-primary;
    }

    &:hover {
      transform: translateY(-5px);
      background-color: rgba($color-primary-light, 0.12);
      color: $color-primary;

      svg {
        transform: rotate(-10deg);
      }
    }

    &--linkedin:hover {
      background-color: rgba($color-primary, 0.2);
      color: $color-primary;
    }

    &--github:hover {
      background-color: rgba($black, 0.1);
    }

    &--email:hover {
  background-color: rgba($color-accent, 0.1);
  color: $color-accent;
}
  }

  &__background {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }

  @keyframes float {
    from {
      transform: translate(-50%, -10%) scale(1);
    }
    to {
      transform: translate(-50%, 10%) scale(1.1);
    }
  }

  @media (max-width: $breakpoint-mobile) {
    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1rem;
      margin-bottom: 2rem;
      line-height: 1.6; // poprawia czytelność
    }

    &__email-text {
      font-size: 1rem;
      padding: 0.15rem 0.3rem;
    }

    &__links {
      gap: 1rem;
    }

    &__link {
      padding: 0.8rem 1.4rem;
      font-size: 0.9rem;
    }
  }
}